[Unit]
Description = Nico Video Downloader Discord bot Daemon

[Install]
WantedBy = multi-user.target

[Service]
WorkingDirectory= /home/<user>/.local/bin/nico_bot
ExecStart= /home/<user>/.local/bin/nico_bot/venv/bin/python3  /home/<user>/.local/bin/nico_bot/bot.py
Restart=always
StandardOutput=syslog
StandardError=syslog

